// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #fff !important;
}

// HEADER

.header {

   td {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      border-bottom: 1px solid #dad3d2;
   }

   img.gamestop-logo  {
      width: 100px;
   }
}
