// Body Styles
body,
html,
.body {
  background: #fff !important;
}

h1 {
   margin-bottom: 0;
   padding-bottom: 25px
}
h2 {
   font-weight: 800;
}
h3 {
   font-weight: 700;
   margin-bottom: 0;
   padding: 12px 12px 12px 20px;
}
h4 {
   font-weight: 700;
   margin-bottom: 0;
}

table.button > tbody > tr > td > table > tbody > tr > td {
   text-transform: uppercase;
   font-weight: 700;
}



////// HEADER

.header {
   border-bottom: 1px solid #dad3d2;

   th {
      padding-top: 20px !important;
      padding-bottom: 15px !important;
   }
   img.gamestop-logo  {
      width: 180px;
   }
}


////// ORDER CONFIRMATION

.orderConfirmation {
   th.section-padding {
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;

      .thanks {
         p {
            font-size: 14px;
         }
      }
      .viewEditOrder-btn {
         .columns {
            padding-top: 14px;
            padding-bottom: 14px;
         }
      }
   }
   .orderConInfo {
      .columns {
         padding-bottom: 5px;

         .orderNum {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 0;
         }
      }
   }
}


////// SHIPPING NOW

th.section-padding {
   padding-top: 35px;
   padding-bottom: 0;
}

.shippingNow {
   border-top: 1px solid #dad3d2;

   .sectionSubHeader {
      background: rgb(246, 246, 246);
      background-color: rgb(246, 246, 246);
      margin-bottom: 25px;

      th.columns {
         vertical-align: middle;
         padding-bottom: 0;
      }
   }

   .productItems {
      .productInfo {
         padding-bottom: 0;
      }
      p {
         margin-top: 3px;
         margin-bottom: 0;
      }
      .total {
         p {
            font-weight: 700;
         }
      }
   }

   .shippingDetails {
      .shippingNote {
         th.columns {
            padding-left: 20px !important;
         }
         span {
            font-weight: 600;
         }
      }

   }
}


////// PROMO CODES

.promoCodes {
   border-top: 1px solid #dad3d2;

   .promos {
      p {
         font-size: 14px;
      }
      .codeApplied {
         p {
            font-weight: 600;
         }
      }
   }
}


////// TOTAL COST

.totalCost {
   border-top: 1px solid #dad3d2;

   th.section-padding {
      padding-left: 50%;

      .fees {
         padding-bottom: 5px;
      }
      .finalCost {
         border-top: 1px solid #dad3d2;

         p {
            font-size: 18px;
            span {
               font-weight: 700;
            }
         }
         .columns {
            padding-top: 15px;
         }
      }
   }
}


////// PAYMENT METHOD / SHIPPING ADDRESS

//Payment Method
.payMethod {
   border-top: 1px solid #dad3d2;

   .section-padding {
      p {
         font-size: 14px;
         margin-bottom: 3px;
         span {
            font-weight: 800;
            text-transform: uppercase;
         }
      }
   }
}

//Shipping Address
.shipAddress {
   .section-padding {
      h2 {
         padding-bottom: 0;
      }
      p {
         font-size: 14px;
         margin-bottom: 2px;
      }
   }
}

//View Order button
.viewOrder-btn {
   border-top: 1px solid #dad3d2;
}


////// POWERUP / INTERNATIONAL

.powerUp-international {
   background: rgb(239, 239, 239);
   background-color: rgb(239, 239, 239);
   .container {
      background: rgb(239, 239, 239);
      background-color: rgb(239, 239, 239);
   }
   .wrapper-inner {
      padding-top: 50px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;

      h4 {
         margin-bottom: 10px;
      }
      p {
         font-size: 13px;
      }
      span {
         text-decoration: underline;
      }
   }
}

@media only screen and (max-width: #{$global-breakpoint}) {
   table.powerUp-international {
      th.section-padding {
         padding-right: 40px !important;
         padding-left: 40px !important;
      }
   }
}


////// TERMS / CONDITIONS
table.terms-conditions {
   background: #fff;
   background-color: #fff;
   color: #000;
   .container {
      background: #fff;
      background-color: #fff;
   }

   .wrapper-inner {
      padding-top: 50px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;

   }

   p {
      text-align: center;
   }
   a {
      color: #000;
      text-decoration: underline;
   }
   .terms-account {
      font-size: 14px;
   }
}
