// Body Styles
body,
html,
.body {
  background: #fff !important;
}

h1 {
   margin-bottom: 0;
   padding-bottom: 25px
}

table.button > tbody > tr > td > table > tbody > tr > td {
   text-transform: uppercase;
   font-weight: 700;
}



////// HEADER

.header {
   td {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      border-bottom: 1px solid #dad3d2;
   }
   img.gamestop-logo  {
      width: 100px;
   }
}


////// ORDER CONFIRMATION

.orderConfirmation {
   th.section-padding {
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;

      .viewEditOrder-btn {
         .columns {
            padding-top: 14px;
            padding-bottom: 14px;
         }
      }
   }

   .orderConInfo {
      .columns {
         padding-bottom: 5px;
      }

      .orderNum {
         font-weight: 700;
         font-size: 16px;
         margin-bottom: 0;
      }
      p {
         font-size: 12px;
      }
   }
}
