<!-- powerUp-international -->
<wrapper class="powerUp-international">
   <container>
      <row>
         <columns>
            <row>
               <columns>
                  <h4>About Your PowerUp Rewards™</h4>
                  <p>If you have purchased items eligible for PowerUp Rewards™ points, those points will be posted to the PowerUp Rewards™ account used to make this purchase. Please allow 24-48 hours after your order has shipped for the points to be posted to that account. Once they’re posted, they will be ready to redeem for rewards, gift certificates, digital currency, and more. Visit the <span><a href="#">PowerUp Rewards™ Center</a></span> for the latest additions.</p>
               </columns>
            </row>
            <row>
               <columns>
                  <h4>International Shipments</h4>
                  <p>You are responsible for additional customs fees, taxes and other fees that may be required by your customs agency or delivery carrier. We strongly recommend that you consult your local customs agency to determine the extent of such fees, prior to submitting your order. If you refuse a shipment due to the non-payment of any of the above fees, we will not credit your account and will dispute all chargebacks.</p>
               </columns>
            </row>
         </columns>
      </row>
   </container>
</wrapper>


<!-- Terms-Conditions -->
<wrapper class="terms-conditions">
   <container>

      <row>
         <columns>
            <p class="terms-account">
               <a href="#">Terms & Conditions</a>
               |
               <a href="#">My Account</a>
            </p>
            <p>&#169; GameStop, Inc. 2020 | 625 Westport Parkway | Grapevine, TX 76051</p>
            <p>Can't see this email? <a href="#">Open in Web Browser</a></p>
         </columns>
      </row>

   </container>
</wrapper>
