<container class="orderConfirmation">
   <row class="thanks">
      <h1>Thank you!</h1>
      <p>We have your order and appreciate your business.</p>
   </row>
   <row>
      <row class="orderConInfo">
         <p class="orderNum">12345678910</p>
         <p>Order Number</p>
      </row>
      <row class="orderConInfo">
         <p class="orderNum">1/01/2021</p>
         <p>Order Date</p>
      </row>
   </row>
   <row>
      <button class="default alert rounded small-expanded">View or Edit Order</button>
   </row>
</container>
