<container>
   <row class="orderConfirmation">


      <columns>

         <row class="thanks">
            <columns>
               <h1>Thank you!</h1>
               <p>We have your order and appreciate your business.</p>
            </columns>
         </row>

         <row class="orderConInfo">
            <columns>
               <p class="orderNum">12345678910</p>
               <p>Order Number</p>
               <spacer size="5"></spacer>
               <p class="orderNum">7/17/2020</p>
               <p>Order Date</p>
            </columns>
         </row>

         <row class="viewEditOrder-btn">
            <columns>
               <a href="#">
                  <button class="radius small">View or Edit Order</button>
               </a>
            </columns>
         </row>

      </columns><!--.section-padding-->


   </row>
</container>
