<container>

   <!-- Payment Method -->
   <row class="payMethod">
      <columns class="section-padding">
         <h2>Payment Method</h2>
         <p><span>PayPal</span></p>
         <p>Amount: $70.35</p>
      </columns>
   </row>

   <!-- Shipping Address -->
   <row class="shipAddress">
      <columns class="section-padding">
         <h2>Shipping Address</h2>
         <p>Firstname Lastname</p>
         <p>Address 1</p>
         <p>City, State, Zipcode</p>
         <p>123 456 7891</p>
      </columns>
   </row>
</container>
