<container>

   <!-- Payment Method -->
   <row class="payMethod">
      <columns class="section-padding">
         <h2>Payment Method</h2>
         <p><span>PayPal</span></p>
         <p>Amount: $70.35</p>
      </columns>
   </row>

   <spacer size="30"></spacer>

   <!-- Shipping Address -->
   <row class="shipAddress">
      <columns class="section-padding">
         <h2>Shipping Address</h2>
         <p>Firstname Lastname</p>
         <p>Address 1</p>
         <p>City, State, Zipcode</p>
         <p>123 456 7891</p>
      </columns>
   </row>

   <spacer size="50"></spacer>

   <!-- View Order Button -->
   <row class="viewOrder-btn">
      <columns class="section-padding">
         <a href="#">
            <!-- button -->
            <table class="button radius small" align="right">
               <tbody>
                  <tr>
                     <td>
                        <table>
                           <tbody>
                              <tr>
                                 <td>
                                    View or Edit Order
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table><!--button-->
         </a>
      </columns>
   </row>

   <spacer size="30"></spacer>

</container>
